apkleaks==2.6.2
asn1crypto==1.5.1
beautifulsoup4==4.12.3
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
filelock==3.15.4
html5lib==1.1
idna==3.7
lxml==5.3.0
psutil==6.0.0
pyaxmlparser==0.3.31
PyYAML==6.0.2
requests==2.32.3
requests-file==2.1.0
six==1.16.0
soupsieve==2.6
termcolor==2.4.0
tldextract==5.1.2
urllib3==2.2.2
urlparse3==1.1
waymore @ git+https://github.com/xnl-h4ck3r/waymore.git@67c26c625cf1105dc4aa4ad8644ba1512407c5ff
webencodings==0.5.1
xnLinkFinder==6.4
